<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Reddit Flair Detector</title> 
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
   <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
   <link href="{{ url_for('static',filename = 'style.css') }}" rel="stylesheet" type="text/css">
   <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/"><img src="https://images-na.ssl-images-amazon.com/images/I/418PuxYS63L.png" class="center" width="200" height="200"></a>
      </div>
   </div>
 </head>
 <head><h1 style="color: black">Reddit Flair Detector</h1></head>
 <head>
  <style>
     body {
        background-image: url("../static/bbb.png");
     }
  </style>
</head>


<div class="formbox">
<form action="{{ url_for('main') }}" method="POST">
    <fieldset>
      
        <b style="text-align:center;">Enter the post URL from Reddit India:</b>
        <input name="url" type="text" required>
        <br>
        <br>
        <input type="submit" class="btn btn-primary btn-block btn-large">
        
    
    
</fieldset>

</form>
   <!--<div> 
       <form method = "GET" action="/stats">
        <div class="form-actions">
          <button class="btn btn-primary btn-block btn-large" type="submit">Statistics</button>
        </div>-->
    </div>
<br>
<div class="result" align="center">
    {% if result %}
    	{% for variable, value in original_input.items() %}
    		<b>{{ variable }}</b> : {{ value }}
    	{% endfor %}
		<br>
    	<br> Predicted flair:
   		<p style="font-size:50px">{{ result }}</p>
    {% endif %}
</div>

<div style="position: absolute;;left:50%;transform:translate(-50%);bottom:0;width:100%;padding: 2px;font-size: 13px;"><h4>Created by  <a href = https://github.com/pranay-ar> Pranay Reddy</a></h4></div>

</html>