<html>
<head>
<title>Automated Flair Identification by Uploading File</title>
<style>
body 
{
background-image:url('../static/bbb.png');
text-align: center;
color: black;
font-family: Arial, Helvetica, sans-serif;
}
input
{
font-size:15px;
width: 15%;
}
</style>
</head>
<body>
<br><br>
<div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="https://images-na.ssl-images-amazon.com/images/I/418PuxYS63L.png" class="center" width="180" height="180"></a>
    </div>
 </div>
<h1 style="font-size: xx-large;">Automated Testing Page</h1>
<p><br><br>
<h3 style="font-size: xx-large; font:700;"><b>Upload the .txt file consisting of the subreddit posts</h3>
<br><br>
<form action = "https://r-india-flair-classifier.herokuapp.com/automated_testing" method = "post" enctype = "multipart/form-data" name = "Pranay">
<br>
<b>Select File:</b> <input type  = "file" name = "upload_file">
<br><br>
<input type = "submit" value = "Submit"/>
<br><br><br><br><br>
<div style="position: absolute;;left:50%;transform:translate(-50%);bottom:0;width:100%;padding: 2px;font-size: 13px;"><h2>Created by  <a href = https://github.com/pranay-ar> Pranay Reddy</a></h2></div>

</form>
</body>
</html>
