<html>
<head>
<title>Automated Flair Identification by Uploading File</title>
<style>
body 
{
background-image:url('../static/bbb.png');
text-align: center;
color: black;
font-family: Arial, Helvetica, sans-serif;
}
input
{
font-size:15px;
width: 15%;
}
</style>
</head>
<body>
<br><br>
<h1>Automated Testing Site</h1>
<p>
<p>Upload the .txt file consisting of the subreddit posts<br>Results will be shared as a JSON object which contains the Reddit URL and its corresponding flair</p>
<br><br><br>
<form action = "https://flair-test.herokuapp.com/automated_testing" method = "post" enctype = "multipart/form-data" name = "Shaurya">
<br>
Select File: <input type  = "file" name = "upload_file">
<br><br>
<input type = "submit" value = "Submit"/>
<br><br><br><br><br>

</form>
</body>
</html>
